[submodule "source/vault"]
	path = source/vault
	url = https://github.com/kostoskistefan/vault
[submodule "source/inthreadval"]
	path = source/inthreadval
	url = https://github.com/kostoskistefan/inthreadval
